# Binaries for built go application
/sentinel

# Results and logs
/results/
/bugbounty-results/
/deafult/
/nust/

# OS-specific files
.DS_Store
*.log

# Debian packages
*.deb

# Build artifacts
*_amd64/
