[Desktop Entry]
Version=1.0
Name=Sentinel
Comment=Advanced Bug Bounty Automation Framework
Exec=gnome-terminal -- /bin/sh -c "sentinel; exec bash"
Icon=sentinel
Terminal=false
Type=Application
Categories=Development;Security;
Name[en_US]=Sentinel 